<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <div class="container mt-3">
        <h3>Board View</h3>
        <br />
        <div class="form-group">
          <label for="num">글번호:</label>
          <input type="text" class="form-control" id="num" name="num" th:value="${board.num}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="title">제목:</label>
          <input type="text" class="form-control" id="title" name="title" th:value="${board.title}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="writer">글쓴이:</label>
          <input type="text" class="form-control" id="writer" name="writer" th:value="${board.writer}" readonly="readonly">
        </div>
        <div class="form-group">
          <label for="content">내용:</label>
          <textarea name="content" id="content" class="form-control" readonly="readonly">[[${board.content }]]</textarea>
        </div>
        <div class="form-group">
           <label for="regDate">등록일:</label>
           <input type="text" class="form-control" id="regDate" name="regdate" th:value="${board.regdate}" readonly="readonly">
        </div>
        <div class="form-group">
           <label for="writer">조회수:</label>
           <input type="text" class="form-control" id="hitcount" name="hitcount" th:value="${board.hitcount}" readonly="readonly">
        </div>
        <div class="form-group">
           <label for="replycount">댓글 수:</label>
           <input type="text" class="form-control" id="replycount" name="replycount" th:value="${board.replycount}" readonly="readonly">
        </div>
        <div class="form-group mt-5">

          <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username==board.getWriter()}">
            <a th:href="|@{/board/modify(num=${board.num})}|">
                <button type="button" id="btnUpdate" class="btn btn-secondary">수정</button>
            </a>
            <a th:href="|@{/board/delete(num=${board.num})}|">
                <button type="button" id="btnDelete" class="btn btn-danger">삭제</button>
            </a>
          </span>
           <a th:href="|@{/board/list}|">
              <button type="button" id="btnList" class="btn btn-info">List</button>
          </a>
        </div>
    </div>

    <!--    댓글 영역-->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4 ">
                <button sec:authorize="isAuthenticated()" class="btn btn-info  addCommentBtn">ADD Comment</button>
            </div>
            <ul class="list-group commentList">
                댓글 리스트 영역
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <ul class="pagination commentPaging">
            </ul>
        </div>
    </div>

    <div class="modal registerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Replyer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span>
                        <input type="text" class="form-control replyText" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Replyer</span>
                        <input type="text" class="form-control replyer" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary registerBtn">Register</button>
                    <button type="button" class="btn btn-outline-dark closeRegisterBtn" >Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/comment.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">
    const board_id=[[${board.num}]]

    const commentList = document.querySelector('.commentList') //댓글 목록 DOM
    let str =''
    function printList(dtoList){ //댓글 목록 출력

        //console.log(dtoList)

        if(dtoList && dtoList.length > 0){

            for (const dto of dtoList) {

                 str += `<li class="list-group-item d-flex commentItem">
                       <span class="col-1">${dto.id}</span>
                        <span class="col-6" data-rno="${dto.id}">${dto.content}</span>
                        <span class="col-2">${dto.writer}</span>
                        <span class="col-2">${dto.regdate} </span>

                        <button class="btn btn-outline-dark addReplyBtn" data-cno="${dto.id}">댓글작성</button>

                     </li>`
                 if(dto.children && dto.children.length >0){
                     str+=' <ul>'
                     printList(dto.children)
                     str+=' </ul>'
                 }
            }

        }
        commentList.innerHTML = str;
    }
    function printComments(){
        str=''
       commentList.clear
        getList(board_id).then(
            data => {

                //console.log((data))
                printList(data) //목록 처리
                //printPages(data) //페이지 처리
            }
        ).catch(e => {
            console.error(e)
        })
    }
    printComments();

    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))
    //registerModel
    const registerBtn = document.querySelector(".registerBtn")
    const replyText = document.querySelector(".replyText")
    const replyer = document.querySelector(".replyer")
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn")
    let parentId=''
    document.querySelector(".addCommentBtn").addEventListener("click", function (e){
        //replyer.value=writer
        registerModal.show()
    },false)

    closeRegisterBtn.addEventListener("click", function (e){
        registerModal.hide()
    },false)

    registerBtn.addEventListener("click", function(e){
        let commentObj=null
        if(parentId=='') {
            commentObj = {
                content: replyText.value,
                writer: replyer.value,
            }
        }else{
            commentObj = {
                content: replyText.value,
                writer: replyer.value,
                parentId : parentId
            }
        }

        addComment(commentObj, board_id).then(result => {
            alert(result)
            registerModal.hide()
            replyText.value = ''
            replyer.value =''
            printComments() //댓글 목록 갱신
        }).catch(e => {
            alert("Exception...")
        })
    }, false)

    //대댓글 추가 영역
    //const replyModal = new bootstrap.Modal(document.querySelector(".replyModal"))
    //registerModel

    const addReplyBtn=document.querySelector(".commentList")

    addReplyBtn.addEventListener("click", function (e){

        parentId=e.target.getAttribute("data-cno")
        registerModal.show()

    },false)

</script>
</html>


